#timeline {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 13pt; color: #666666;
  line-height: 1.5;
  margin: 20px;
}

#header {
  height: 300px;
  background: #231c4e;
  margin-bottom: 3em;

  display: flex;
  align-items: center;
  justify-content: center;
}

#icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex: 0 1 auto;
}

#timeline .period > h2 {
  font-size: 12pt;
  padding: 10px;
  border-radius: 2em;
  border: none;
  text-align: center;
  background: #444;
  color: white;
  cursor: pointer;
}

#timeline .period > ul {
  padding: 0;
  list-style-type: none;
}

#timeline .period li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#timeline .period li:after {
  width: 100px;
  height: 6px;
  background: #9393b8;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 3em;

  display: block;
  content:"";
}

#timeline .year {
  font-size: 21pt;
  color: white;

  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #00A19A;
  border: 4px solid #fff;
  box-shadow: 0 0 0 5px #00A19A;

  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline .banner {
  width:100%;
  height: 40px;
  background: #CFE4E3;
  margin-top: 30px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline .period h4 {
  color: #425280;
  margin-top: 1em;
  margin-bottom: 1em;
}

#timeline .attribution {
  margin-left: 0.5em;
  font-weight: bold;
}

#timeline .authority {
  color: #d70b52;
}

#timeline .link a:before {
  content: url('../images/link_image.jpg');

  display: flex;
  justify-content: center;
}

#timeline .link a {
  color: #e94e1b;
  text-decoration: none;
}

#timeline .link {
  display: flex;
  align-items: center;
  justify-content: center;
}

#timeline .link:hover {
  color: #795197;
}

#timeline.accordion > section:nth-child(1) h2 { background: #24A29A; }
#timeline.accordion > section:nth-child(1) .banner { background: #CFE4E3; }
#timeline.accordion > section:nth-child(1) .year { background-color: #24A29A; box-shadow : 0 0 0 5px #24A29A; }
#timeline.accordion > section:nth-child(2) h2 { background: #94C425; }
#timeline.accordion > section:nth-child(2) .banner { background: #e9f2d3; }
#timeline.accordion > section:nth-child(2) .year { background-color: #94C425; box-shadow : 0 0 0 5px #94C425; }
#timeline.accordion > section:nth-child(3) h2 { background: #784E97; }
#timeline.accordion > section:nth-child(3) .banner { background: #e4dceb; }
#timeline.accordion > section:nth-child(3) .year { background-color: #784E97; box-shadow : 0 0 0 5px #784E97; }
#timeline.accordion > section:nth-child(4) h2 { background: #878786; }
#timeline.accordion > section:nth-child(4) .banner { background: #e7e7e7; }
#timeline.accordion > section:nth-child(4) .year { background-color: #878786; box-shadow : 0 0 0 5px #878786; }
#timeline.accordion > section:nth-child(5) h2 { background: #CF0054; }
#timeline.accordion > section:nth-child(5) .banner { background: #f7cedc; }
#timeline.accordion > section:nth-child(5) .year { background-color: #CF0054; box-shadow : 0 0 0 5px #CF0054; }
#timeline.accordion > section:nth-child(6) h2 { background: #F7931E; }
#timeline.accordion > section:nth-child(6) .banner { background: #fde9d2; }
#timeline.accordion > section:nth-child(6) .year { background-color: #F7931E; box-shadow : 0 0 0 5px #F7931E; }
