body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 11pt;
  color: #666666;
  line-height: 1.2;

  margin: 0;
  overflow: hidden;
}

* {
  pointer-events: none;
}

.density {
  stroke: none;
  fill: black;
  opacity: 0.05;
}

.event {
  r: 20px;
  stroke: white;
  stroke-width: 2.5px;
  fill: lightblue;
}

.blurb .badge {
  font-size: 24pt;
}

.blurb .badge .year {
  r: 1.5em;
  fill: lightblue;
  stroke: none;
}

.blurb .badge .year.border {
  r: 1.7em;
  stroke: lightblue;
  stroke-width: 5px;
  fill: white;
}

.blurb .badge text {
  stroke: white;
  fill: white;
}

.anchor {
  stroke: black;
  fill: none;
  opacity: 0.3;
}

.axis .tick {
  font-size: 24pt;
  stroke: black;
  fill: black;
}

.axis text,
.axis line {
  opacity: 0.3;
}

.axis .domain {
  display: none;
}

.cursor {
  fill: black;
  stroke: none;
  opacity: 0.025;
}

.ether {
  fill: transparent;
  stroke: none;

  cursor: pointer;
  pointer-events: all;
}
